:root {
    --primary-text-color:#2F303A;
    --tittle-text-color:#212121;
    --general-text-color:#757575;
    --accent-color:#2196F3;
    --primary-bg-color:#F5F5F5;
    --secondary-bg-color:#F5F4FA;
    --white-color:#FFFFFF;
    --footer-text-color:rgba(255, 255, 255, 0.6);
    --secondary-button-colar:#188CE8;
    --logo-dark-color:#000000;
}




body {
    font-family: Roboto , sans-serif;
    color: var(--general-text-color);
    background-color: var(--white-color);

}

/* logo */

.studio {
    color: var(--logo-dark-color);
}
.logo {
    color:var(--accent-color);
    text-decoration: none;
    font-family: 'Raleway', sans-serif; 
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
}
/* Header */
.header {
    background-color:var(--white-color);
}

.nav-part .link {
    color: var(--tittle-text-color);
}
.nav-part .link:hover ,
.nav-part .link:focus {
    color:var(--accent-color) ;
}
.nav-list  {
     font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
}

.link{
    text-decoration: none;
 }

 .list {
    list-style: none;
 }

.nav-list .link.current {
    color: var(--accent-color);
    
}

.auth-part .link {
    color: var(--general-text-color);
    font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
}
.auth-part .link:hover ,
.auth-part .link:focus {
    color: var(--accent-color);
}


/* hero */
.hero {
     background-color: var( --primary-text-color);
}
.hero-tittle {
    color:var(--white-color);
    font-weight: 900;
        font-size: 44px;
        line-height: 1.4;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
}


/* section */


.section-tittle {
    color: var(--tittle-text-color);
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        text-transform: uppercase;
}
.features {
    background:var(--primary-bg-color);
}

.features .text {
    color: var(--general-text-color);
    font-size: 14px;
     line-height: 1.71;
}
.section-tittle-special{
    color: var(--tittle-text-color);
    font-weight: 700;
        font-size: 36px;
        line-height: 1.17;
        text-align: center;
}
.team-tittle{
    color: var(--tittle-text-color);
    font-weight: 700;
        font-size: 36px;
        line-height: 1.17px;
        text-align: center;
}

.team-name {
    color: var(--tittle-text-color);
    font-weight: 500;
        font-size: 16px;
        line-height: 1.19;
}

.team {
    background-color: var(--white-color);
}

.team .team-profession {
    color: var(--general-text-color);

        line-height: 1.19;
}

/* footer */
footer {
        background-color: var(--primary-text-color);
}


.logo-studio {
    color: var(--white-color);
}

.footer-items {
    font-style: normal;
}

.footer-items .item:hover ,
.footer-items .item:focus {
    color: var(--accent-color);
}

.footer-items .items:hover,
.footer-items .items:focus {
    color: var(--accent-color);
}

.footer-items .item {
    color: var(--white-color);
    font-size: 14px;
        line-height: 1.71;
}
.footer-items .items {
    color: var(--footer-text-color);
    font-size: 14px;
        line-height: 1.71;
}

/* button */
.button {
    font-family: inherit;
    color:var(--white-color);
    cursor: pointer;
    background-color: var(--accent-color);
    border-color: var(--accent-color);
    font-weight: 700;
        font-size: 16px;
        line-height: 1.8;
        letter-spacing: 0.06em;
}
.hero .button:hover ,
.hero .button:focus {
    background-color:var(--secondary-button-colar);
}

/* _________________________portfolio__________________________________*/
.header{
    background-color: var(--white-color);
}
main {
    background-color: var(--white-color);
}

 .holder .button-portfolio {
    font-family: inherit;
    color: var(--tittle-text-color);
    background-color:var(--secondary-bg-color);
    border-color:var(--secondary-bg-color);
    border-radius: 4px;
   
}

 .holder .button-portfolio:hover,
 .holder .button-portfolio:focus {
    background-color:var(--accent-color);
    color: var(--white-color);
}


.box-list {
    font-weight: 500;
        font-size: 16px;
        line-height: 1.62;
}
.box .section {
    color: var(--tittle-text-color);
    font-weight: 700;
        font-size: 18px;
        line-height: 2;
}
.under-section {
    color: var(--general-text-color);
    font-size: 16px;
        line-height: 1.88;
}